/* BASE */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 16px;
}

/* LAYOUT */
body {
   width: 600px;
   height: 315px;
   display: table;
   color: #202020;
   background: #FBFBFB;
   font-family: 'UncutSans-Variable', sans-serif;
   overflow: hidden;
}

/* LEFT COLUMN */
.left {
   display: table-cell;
   vertical-align: bottom;
   padding: 48px 48px 24px 48px;
}

/* TITLE */
.left h2 {
   margin: 0 0 8px 0;
   font-size: 2rem;
   line-height: 120%;
   font-style: normal;
   font-weight: 400;
   text-rendering: optimizeLegibility;
}

/* TAGS-PREVIEW */
.left p {
   margin: 0;
   padding: 0;
   font-size: 18px;
   font-weight: 500;
   line-height: 26px;
   color: #707070;
   text-rendering: optimizeLegibility;
}

/* RIGHT COLUMN */
.right {
   display: table-cell;
   vertical-align: bottom;
   width: 255px;
   padding: 22px 22px 22px 0;
}

/* POST IMAGE */
.right img {
   width: 270px;
   height: 270px;
   object-fit: cover;
   border-radius: 4px;
   display: block;
}
