@font-face {
   font-family: UncutSans-Variable;
   src: url(../assets/fonts/UncutSans-Variable.ttf) format("truetype");
   font-style: normal;
   font-feature-settings: 'dlig' on, 'salt' on, 'rvrn' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss06' on, 'ss07' on, 'ss08' on;
   font-display: fallback;
}

html {
  font-size: 16px;
}

body {
  width: 600px;
  height: 330px;
  margin: 0;
  position: relative;
  color: #202020;
  background: #FBFBFB;
}

.content {
  width: calc(100% - 96px);
  max-width: 600px;
  height: auto;
  padding: 48px 48px 48px 48px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#icon {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
  right: 48px;
  text-align: left;
  background: #FFD363;
}

#icon-h1 {
  margin: 0;
  left: 10px;
  top: 8px;
  position: absolute;
  font-family: "Uncut Sans Variable", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-rendering: optimizeLegibility;

}

#content-h2 {
   width: 430px;
  margin: 0 0 8px 0;
  font-family: "Uncut Sans Variable", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-rendering: optimizeLegibility;
}

.content-p {
   width: 430px;
  margin: 0;
  padding: 0;
  font-family: "Uncut Sans Variable", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #707070;
  text-rendering: optimizeLegibility;
}