<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | Amateur de fromages</title>
        <meta name="description" content="{{ page.tags-preview }}">
        <link rel="stylesheet" href="/css/style.css">
        <meta property="og:locale"  content="fr_FR" />
        <meta property="og:image" content="/images/previews/{{ page.slug }}.png"/>
        <meta property="og:description" content="{{ page.tags-preview }}" />
        <meta name="fediverse:creator" content="@timothee@mastodon.design" />
        <script src="/assets/script.js"></script>
        {% include analytics.html %}
    </head>
</html>
<body>
