{% include head.html %}
{% include nav.html %}

<main>
    <section class="container flex post-header">
        <div class="post-header-content">
            <p class="post-review">{{ page.note }}</p>
            <h1>{{ page.title }}</h1>
            <p class="post-review-comment">{{ page.comment }}</p>
        </div>
        
        <div class="post-image">
            <img src="{{ page.image }}" alt="Photographie du fromage : {{ page.title }}" />
        </div>
    </section>

    <section class="container">
        {{ page.content }}
    </section>
</main>

{% include footer.html %}
